html {
  scroll-behavior: smooth;
}

.totop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.totop a {
  color: var(--clr-grey-3);
}
.totop a:hover {
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.home h3 {
  color: var(--clr-primary-10);
}

.home {
  height: 500px;
  background-image: url("./assets/IMG_3327.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.about {
  display: grid;
}

.about img {
  height: 15rem;
  border-radius: 50%;
  margin: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.contact {
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-template-rows: 50px 50px 50px 50px;
}

.contact iframe {
  grid-column-start: 1;
  grid-row-end: 1 5;
}
.contact label {
  grid-column-start: 2;
}
.contact p {
  grid-column-start: 3;
}

/* Common Navbar */
.navbar-link:hover {
  cursor: pointer;
  color: #b7dcf8;
}

/* Small Screen */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
  .navbar-links.show {
    display: block;
    position: absolute;
    background-color: #3498db7b;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-link.show {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  .parallax {
    background-attachment: scroll;
  }
}

/* Normal Screen */
@media (min-width: 769px) {
  .navbar-links {
    display: flex;
    justify-content: right;
    align-items: center;
    transition: max-height 0.3s ease-out;
    max-height: 3rem;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-link {
    margin: 10px;
  }
  .parallax {
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cranio-ul {
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
  .section {
    min-height: 500px;
  }
}

body {
  background-color: #d6eaf8; /* light blue */
  color: #34495e; /* dark blue */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1abc9c; /* greenish-blue */
}
a {
  color: #3498db; /* bright blue */
}
blockquote {
  background-color: #eaf2f8; /* very light blue */
  border-left: 5px solid #1abc9c; /* greenish-blue */
  color: #34495e; /* dark blue */
}
code {
  background-color: #eaf2f8; /* very light blue */
  color: #2c3e50; /* dark gray-blue */
}
pre {
  background-color: #eaf2f8; /* very light blue */
  border: 1px solid #1abc9c; /* greenish-blue */
  color: #2c3e50; /* dark gray-blue */
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #1abc9c; /* greenish-blue */
  border: none;
  color: #ffffff; /* white */
  padding: 10px 20px;
  text-transform: uppercase;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #148f77; /* darker greenish-blue */
}

.select-lang {
  position: relative;
  display: flex;
  float: right;
}

.select-lang img {
  height: 1.5rem;
  margin: 0.5rem;
}

.select-lang:hover {
  cursor: pointer;
}
