html {
  scroll-behavior: smooth;
}
.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.totop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.totop a {
  color: var(--clr-grey-3);
}
.totop a:hover {
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.home h3 {
  color: var(--clr-primary-10);
}

.home {
  height: 500px;
  background-image: url("./assets/IMG_4328.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}

.homeText {
  position: absolute;
  top: 25%;
  left: 20%;
}

.homeName {
  color: #ffffffbb;
  font-size: 5em;
  overflow-wrap: break-word;
}
.homeDescr {
  color: #ffffffbb;
  text-transform: uppercase;
  font-family: "barlow-extralight", "barlow", "sans-serif";
  font-weight: 200;
}

.about {
  height: 500px;
  margin: 25px 16px 25px 16px;
}

.about .aboutText {
  margin-right: 8px;
}

.about .more-button {
  display: none;
}

.about img {
  float: right;
  height: 100%;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 2px #083b5dbb);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 800;
  background-color: #d6eaf8; /* light blue */
}
.contact {
  display: grid;
  padding: 5px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 50px 50px 50px 50px;
}

.contact iframe {
  grid-column-start: 1;
}

.contact p {
  grid-column-start: 2;
}

.select-lang img {
  height: 1.5rem;
  margin: 0.5rem;
}

.navbar {
  top: 0;
  z-index: 9999;
  position: sticky;
  display: flex;
  height: 5rem;
  justify-content: right;
  background-color: #d6eaf8;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  cursor: pointer;
  color: #b7dcf8;
}

.navbar .select-lang {
  display: flex;
  align-items: center;
}

.navbar .select-lang:hover {
  cursor: pointer;
}

/* Small Screen */
@media (max-width: 768px) {
  .home {
    position: unset;
  }

  .navbar {
    justify-content: space-between;
    position: unset;
  }

  .navbar-links {
    display: none;
  }
  .navbar-links.show {
    display: block;
    position: absolute;
    background-color: #79d1f7aa;
    z-index: 9999;
    height: 100%;
  }
  .navbar-toggle {
    display: block;
    background-color: #d6eaf8; /* light blue */
    border: none;
    color: #3498db; /* bright blue */
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-link.show {
    margin: 10px;
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  /* .parallax {
    background-attachment: scroll;
  } */

  .homeName {
    font-size: 3em;
  }
  .about img {
    float: unset;
    width: 100%;
    filter: unset;
  }

  .about .aboutText {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  .about .aboutTextVisible {
    max-height: none;
  }
  .about .more-button {
    display: block;
    font-size: 2rem;
    border: 0px;
    background-color: transparent;
  }
  .about .fade-overlay {
    content: "";
    position: sticky;
    margin-top: -60px;
    height: 60px; /* Half of the truncated height */
    background: linear-gradient(to bottom, transparent, #d6eaf8);
    pointer-events: none;
  }

  .about {
    height: unset;
    margin: 25px 16px 25px 16px;
  }
}

/* Normal Screen */
@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-link {
    margin: 10px;
  }

  .cranio-ul {
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
  .section {
    min-height: 500px;
  }
}

body {
  color: #34495e; /* dark blue */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1abc9c; /* greenish-blue */
}
a {
  color: #3498db; /* bright blue */
}
blockquote {
  background-color: #eaf2f8; /* very light blue */
  border-left: 5px solid #1abc9c; /* greenish-blue */
  color: #34495e; /* dark blue */
}
code {
  background-color: #eaf2f8; /* very light blue */
  color: #2c3e50; /* dark gray-blue */
}
pre {
  background-color: #eaf2f8; /* very light blue */
  border: 1px solid #1abc9c; /* greenish-blue */
  color: #2c3e50; /* dark gray-blue */
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  text-transform: uppercase;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #148f77; /* darker greenish-blue */
}
