html {
  scroll-behavior: smooth;
}

body {
  color: #34495e; /* dark blue */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #124d75; /* greenish-blue */
}
a {
  color: #124d75; /* bright blue */
}
blockquote {
  background-color: #eaf2f8; /* very light blue */
  border-left: 5px solid #1abc9c; /* greenish-blue */
  color: #34495e; /* dark blue */
}
code {
  background-color: #eaf2f8; /* very light blue */
  color: #2c3e50; /* dark gray-blue */
}
pre {
  background-color: #eaf2f8; /* very light blue */
  border: 1px solid #1abc9c; /* greenish-blue */
  color: #2c3e50; /* dark gray-blue */
}

.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: column;
}

.section {
  display: flex;
}

.title {
  display: flex;
  align-self: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
}

.title img {
  width: 30px;
  margin: 5px;
}

.totop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.totop a {
  color: var(--clr-grey-3);
}
.totop a:hover {
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.home h3 {
  color: var(--clr-primary-10);
}

.home {
  height: 750px;
  background-image: url("./assets/IMG_2566.png");

  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}

.homeText {
  position: absolute;
  top: 15%;
  left: 10%;
}

.homeName {
  color: #172a3dcc;
  font-size: 5em;
  overflow-wrap: break-word;
}
.homeDescr {
  color: #ffffffbb;
  text-transform: uppercase;
  font-family: "barlow-extralight", "barlow", "sans-serif";
  font-weight: 200;
}

.about {
  height: 500px;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-card {
  display: flex;
  flex-flow: column;
  outline: 1px solid #124d75;
  border-radius: 5px;
  height: fit-content;
  align-self: center;
}

.text {
  flex-grow: 1;
  flex-shrink: 3;
  margin: 2rem;
}

.more-button {
  display: none;
}

.about img {
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 2px #083b5dbb);
  margin: 1rem;
}

.kranio-card {
  display: flex;
  flex-flow: column;
  background-color: #d6eaf877;
  padding: 1rem;
}

.kranio {
  flex-wrap: wrap;
}

/* .kranio-background h2 {
  -webkit-text-stroke: 1px white;
} */

.kranio-background {
  content: "";
  background-image: url("./assets/P7140370.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.kranio-ul {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.qualification {
  margin: 1rem;
  flex-wrap: nowrap;
  flex-direction: column;
}

.qualification ul {
  margin-left: 2rem;
  margin-right: 2rem;
}

.qualification li {
  margin-bottom: 0.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 800;
  background-color: #d6eaf8; /* light blue */
}

.contact {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  margin: 1rem;
  gap: 1rem;
}

.address {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.address svg {
  align-self: center;
  width: 10%;
}

.address p {
  align-self: center;
  width: 90%;
}

.map {
  flex-grow: 1;
  flex-shrink: 0;
}

.pricelist {
  flex-flow: column;
  align-items: center;
  margin: 1rem;
}

.select-lang p {
  border-color: #124d75;
}

.navbar {
  /* top: 0; */
  /* z-index: 9999; */
  /* position: sticky; */
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  /* background-color: #d6eaf8; */
}
.navbar img {
  width: 5rem;
  margin-right: auto;
  margin-left: 10px;
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px #083b5dbb);
}

.select-lang {
  align-self: center;
}
.select-lang img {
  height: 2rem;
  margin: 10px;
}

.select-lang:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px #083b5dbb);
}
.navbar-toggle {
  display: none;
}
.navbar-link {
  margin: 10px;
}

/* Small Screen */
@media (max-width: 768px) {
  .home {
    position: unset;
  }

  .navbar {
    justify-content: space-between;
    position: unset;
  }

  .navbar img {
    width: 5rem;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-list {
    display: none;
  }
  .navbar-list.show {
    display: block;
    position: absolute;
    background-color: #79d1f7aa;
    z-index: 9999;
    height: 100%;
  }
  .navbar-toggle {
    display: block;
    background-color: #d6eaf8; /* light blue */
    border: none;
    color: #3498db; /* bright blue */
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-link.show {
    margin: 10px;
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .homeName {
    font-size: 3em;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    float: unset;
    width: 100%;
    filter: unset;
    margin: unset;
  }

  .about-card {
    outline: unset;
  }

  .contact {
    flex-flow: column;
  }

  .address {
    flex-wrap: wrap;
  }

  .kranio {
    margin: 1rem;
    margin-left: unset;
    margin-right: unset;
    flex-direction: column;
  }

  .kranio-ul {
    flex-direction: column;
  }

  .qualification ul {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .text {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  .textVisible {
    max-height: none;
    margin: 2rem;
  }
  .more-button {
    display: flex;
    font-size: 2rem;
    border: 0px;
    background-color: transparent;
    align-self: center;
  }

  .fade-overlay {
    content: "";
    position: sticky;
    margin-top: -80px;
    height: 60px;
    background: linear-gradient(to bottom, transparent, #d6eaf877);
    pointer-events: none;
  }

  .about {
    height: unset;
  }
}

/* Normal Screen */
