html {
  scroll-behavior: smooth;
}
.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  display: flex;
}

.totop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.totop a {
  color: var(--clr-grey-3);
}
.totop a:hover {
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.home h3 {
  color: var(--clr-primary-10);
}

.home {
  height: 750px;
  background-image: url("./assets/IMG_2566.png");

  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}

.homeText {
  position: absolute;
  top: 15%;
  left: 10%;
}

.homeName {
  color: #172a3dcc;
  font-size: 5em;
  overflow-wrap: break-word;
}
.homeDescr {
  color: #ffffffbb;
  text-transform: uppercase;
  font-family: "barlow-extralight", "barlow", "sans-serif";
  font-weight: 200;
}

.about {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  /* align-content: flex-start; */
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}

.about .aboutText {
  flex-grow: 0;
  flex-shrink: 1;
}

.about .more-button {
  display: none;
}

.about img {
  flex-grow: 0;
  flex-shrink: 1;
  max-height: 500px;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 2px #083b5dbb);
  /* align-self: center; */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 800;
  background-color: #d6eaf8; /* light blue */
}
.contact {
  display: grid;
  padding: 5px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 50px 50px 50px 50px;
}

.contact iframe {
  grid-column-start: 1;
}

.contact p {
  grid-column-start: 2;
}

.select-lang p {
  border-color: #124d75;
}

.navbar {
  /* top: 0; */
  /* z-index: 9999; */
  /* position: sticky; */
  display: flex;
  height: 5rem;
  justify-content: right;
  /* background-color: #d6eaf8; */
}

.navbar-list {
  display: flex;
  align-items: center;
}

.navbar-link:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px #083b5dbb);
}

.select-lang {
  display: flex;
  align-items: center;
}
.select-lang img {
  height: 2rem;
  align-self: center;
}

.select-lang:hover {
  cursor: pointer;
  filter: drop-shadow(2px 2px 1px #083b5dbb);
}
.navbar-toggle {
  display: none;
}
.navbar-link {
  margin: 10px;
}

/* Small Screen */
@media (max-width: 768px) {
  .home {
    position: unset;
  }

  .navbar {
    justify-content: space-between;
    position: unset;
  }

  .navbar-list {
    display: none;
  }
  .navbar-list.show {
    display: block;
    position: absolute;
    background-color: #79d1f7aa;
    z-index: 9999;
    height: 100%;
  }
  .navbar-toggle {
    display: block;
    background-color: #d6eaf8; /* light blue */
    border: none;
    color: #3498db; /* bright blue */
    padding: 10px 20px;
    font-size: 1.5rem;
  }
  .navbar-brand {
    margin-right: 20px;
  }
  .navbar-link.show {
    margin: 10px;
    display: flex;
    color: #ffffff;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  /* .parallax {
    background-attachment: scroll;
  } */

  .homeName {
    font-size: 3em;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    float: unset;
    filter: unset;
  }

  .about .aboutText {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  .about .aboutTextVisible {
    max-height: none;
  }
  .about .more-button {
    display: flex;
    font-size: 2rem;
    border: 0px;
    background-color: transparent;
  }
  .about .fade-overlay {
    content: "";
    position: sticky;
    margin-top: -60px;
    height: 60px; /* Half of the truncated height */
    background: linear-gradient(to bottom, transparent, #d6eaf8);
    pointer-events: none;
  }

  .about {
    height: unset;
    margin: 25px 16px 25px 16px;
  }
}

/* Normal Screen */
@media (min-width: 769px) {
  .cranio-ul {
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
}

p,
a {
  color: #124d75; /* dark blue */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1abc9c; /* greenish-blue */
}
